# Import libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
from scipy import stats

2023-05-28 22:50:03.826844: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-28 22:50:05.451899: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

# Prepare datasets

In [ ]:
df_x = pd.read_csv('../data/dataset_02/data.csv')
df_y = pd.read_csv('../data/dataset_02/answer.csv')

In [ ]:
df_x = df_x.drop(labels=['Unnamed: 0'], axis=1)
df_x

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_y = df_y.drop(labels=['Unnamed: 0'], axis=1)
df_y

             x1        y1      z1        x2        y2      z2
0       0.10871  -0.27960  14.997  10.61088  10.45806  -1.743
1      10.61088  10.45806  -1.743   0.10871  -0.27960  14.997
2       0.10871  -0.27960  14.997  11.83410   1.03286  -9.159
3      11.83410   1.03286  -9.159   0.10871  -0.27960  14.997
4       0.10871  -0.27960  14.997   0.48150 -11.78048  -9.273
...         ...       ...     ...       ...       ...     ...
48801  -9.63243   9.66777   6.225  -0.19256   0.23003 -14.997
48802  -0.19256   0.23003 -14.997  13.42070   6.56526   1.335
48803  13.42070   6.56526   1.335  -0.19256   0.23003 -14.997
48804  -0.19256   0.23003 -14.997 -13.56919   5.13653   3.807
48805 -13.56919   5.13653   3.807  -0.19256   0.23003 -14.997

[48806 rows x 6 columns]

In [ ]:
df = pd.concat([df_x, df_y], axis=1)
df

,0,1,2,3,4,5,6,7,8,9,...,668,669,670,671,x1,y1,z1,x2,y2,z2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,10.61088,10.45806,-1.743
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.61088,10.45806,-1.743,0.10871,-0.27960,14.997
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,11.83410,1.03286,-9.159
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.83410,1.03286,-9.159,0.10871,-0.27960,14.997
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,0.48150,-11.78048,-9.273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-9.63243,9.66777,6.225,-0.19256,0.23003,-14.997
48802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.19256,0.23003,-14.997,13.42070,6.56526,1.335
48803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,13.42070,6.56526,1.335,-0.19256,0.23003,-14.997
48804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.19256,0.23003,-14.997,-13.56919,5.13653,3.807
48805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-13.56919,5.13653,3.807,-0.19256,0.23003,-14.997

In [ ]:
labels = [str(i) for i in range(672)]

In [ ]:
df = df.drop_duplicates(subset=labels, ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,668,669,670,671,x1,y1,z1,x2,y2,z2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,10.61088,10.45806,-1.743
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.61088,10.45806,-1.743,0.10871,-0.27960,14.997
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,11.83410,1.03286,-9.159
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.83410,1.03286,-9.159,0.10871,-0.27960,14.997
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.10871,-0.27960,14.997,0.48150,-11.78048,-9.273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.19873,1.87854,9.801,-0.19256,0.23003,-14.997
19960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,-0.19256,0.23003,-14.997,8.72039,6.20611,10.509
19961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.72039,6.20611,10.509,-0.19256,0.23003,-14.997
19962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.19256,0.23003,-14.997,2.34033,14.49242,3.081
19963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.34033,14.49242,3.081,-0.19256,0.23003,-14.997

In [ ]:
df_x = df.drop(labels=['x1', 'y1', 'z1', 'x2', 'y2', 'z2'], axis=1)
df_x

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,670,671
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
19961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_y = df.drop(labels=labels, axis=1)
df_y

             x1        y1      z1        x2        y2      z2
0       0.10871  -0.27960  14.997  10.61088  10.45806  -1.743
1      10.61088  10.45806  -1.743   0.10871  -0.27960  14.997
2       0.10871  -0.27960  14.997  11.83410   1.03286  -9.159
3      11.83410   1.03286  -9.159   0.10871  -0.27960  14.997
4       0.10871  -0.27960  14.997   0.48150 -11.78048  -9.273
...         ...       ...     ...       ...       ...     ...
19959  11.19873   1.87854   9.801  -0.19256   0.23003 -14.997
19960  -0.19256   0.23003 -14.997   8.72039   6.20611  10.509
19961   8.72039   6.20611  10.509  -0.19256   0.23003 -14.997
19962  -0.19256   0.23003 -14.997   2.34033  14.49242   3.081
19963   2.34033  14.49242   3.081  -0.19256   0.23003 -14.997

[19964 rows x 6 columns]

In [ ]:
df_x = np.reshape(df_x.to_numpy(), (-1, 1, 24, 28))
df_x.shape

(19964, 1, 24, 28)

In [ ]:
df_y = df_y.to_numpy()
df_y

array([[  0.10871,  -0.2796 ,  14.997  ,  10.61088,  10.45806,  -1.743  ],
       [ 10.61088,  10.45806,  -1.743  ,   0.10871,  -0.2796 ,  14.997  ],
       [  0.10871,  -0.2796 ,  14.997  ,  11.8341 ,   1.03286,  -9.159  ],
       ...,
       [  8.72039,   6.20611,  10.509  ,  -0.19256,   0.23003, -14.997  ],
       [ -0.19256,   0.23003, -14.997  ,   2.34033,  14.49242,   3.081  ],
       [  2.34033,  14.49242,   3.081  ,  -0.19256,   0.23003, -14.997  ]])

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(df_x, df_y, train_size=0.9)

train_x, valid_x, train_y, valid_y = train_test_split(train_x,
                                                    train_y,
                                                    test_size=0.33)

In [ ]:
print(train_x.shape), print(train_y.shape)
print(valid_x.shape), print(valid_y.shape)
print(test_x.shape), print(test_y.shape)

(12037, 1, 24, 28)
(12037, 6)
(5930, 1, 24, 28)
(5930, 6)
(1997, 1, 24, 28)
(1997, 6)

(None, None)

# CNN

In [ ]:
model = keras.Sequential([
    keras.Input(shape=(1, 24, 28)),
    layers.Conv2D(32, (7, 7), activation="relu", data_format='channels_first'),
    layers.MaxPooling2D((2, 2), strides=2),
    layers.Conv2D(64, (3, 3), activation="relu"),
    layers.MaxPooling2D((2, 2), strides=2),
    layers.Flatten(),
    # layers.Dense(256, activation='relu'),
    layers.Dense(128, activation='relu'),
    # layers.Dense(64, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(6, activation='linear'),
])