In [3]:
import numpy as np
import pandas as pd

In [4]:
data = np.fromfile("../raw_data/dataset_01/otdcr_931_0.dat", dtype=np.float32)
data

array([ 0.00e+00,  9.31e+02,  8.40e+01, ...,  1.00e+20,  0.00e+00,
       -1.00e+00], dtype=float32)

In [5]:
data[:15]

array([  0.     , 931.     ,  84.     ,   0.     ,   0.     ,  88.02422,
        79.05151,   0.     ,   0.     ,   0.     ,   0.     ,   0.     ,
         0.     ,   0.     ,   0.     ], dtype=float32)

In [6]:
data.size / 500

1762.0

In [7]:
data.size

881000

In [9]:
out = open("../data/dataset_02/data.csv", 'a+')
#for j in range(672):
#    out.write(str(j))
#    if(j != 671):
#        out.write(',')
#out.write('\n')

for i in range(0, int(data.size), int(data.size / 500)):
    for j in range(672):
        out.write(str(data[i + 25 + j]))
        if(j != 671):
            out.write(',')
    out.write('\n')

out.close()

In [10]:
df = pd.read_csv("../data/dataset_02/data.csv", index_col=None)
df

,1.0,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,...,1.0.53,0.0.432,7.0.6,0.0.433,0.0.434,10.0.7,0.0.435,3.0.16,1.0.54,0.0.436
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,11.0,0.0,1.0,0.0,2.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,10.0,1.0,5.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,18.0,1.0,0.0,0.0,5.0,1.0,0.0,18.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,12.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,21.0,46.0,0.0,0.0,0.0,81.0,9.0,27.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,0.0,6.0,0.0,12.0,0.0,0.0,0.0
495,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,13.0,10.0,15.0,0.0,0.0,0.0
496,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,0.0,4.0,0.0,4.0,5.0,0.0,0.0,11.0,7.0
497,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,0.0,0.0,12.0,19.0,2.0,0.0,0.0,1.0,0.0
498,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,58.0,0.0,0.0,7.0,0.0,0.0

In [12]:
out = open("../data/dataset_02/answer.csv", 'a+')
inp = open("../raw_data/dataset_01/OTDCR_931.txt", "r")

#out.write('x1,')
#out.write('y1,')
#out.write('z1,')
#out.write('x2,')
#out.write('y2,')
#out.write('z2\n')

for i in range(500):
    data = inp.readline().split()
    for j in range(6):
        out.write(str(data[2+j]))
        if(j != 5):
            out.write(',')
    out.write('\n')

out.close()
inp.close()

In [13]:
df = pd.read_csv("../data/dataset_02/answer.csv")
df

     7.31488  26.812  3.68876  1.97322  -0.801  2.71852
0    3.24444  -0.801  4.26518  7.82028  26.812  3.09581
1    3.41072  -0.801  3.72218  1.44984  26.812  2.91469
2    7.74318  26.812  3.77331  3.41602  -0.801  3.09452
3    7.08784  26.812  4.74856  2.25297  -0.801  2.89775
4    7.07549  26.812  5.19466  8.15235  -0.801  4.59566
..       ...     ...      ...      ...     ...      ...
494  7.75790  -0.801  4.62405  6.93627  26.812  2.88103
495  5.54549  -0.801  4.11952  2.97840  26.812  3.58746
496  5.59828  26.812  3.78629  2.16425  -0.801  3.33187
497  6.80879  -0.801  5.00507  2.30580  26.812  2.72997
498  5.87940  -0.801  4.52526  3.09200  26.812  2.80852

[499 rows x 6 columns]